* {
  margin: 0px;
  padding: 0px;
}

.container {
  /*tamanho*/
  width: 100w;
  height: 100vh;
  /*organização dos elementos filhos*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*cor*/
  background-image: url(../assets/piano2.00\ \(1\).png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.header {
  /*tamanho*/
  width: 100%;
  /*borda*/
  border-bottom: 2px solid white;
  /*organização dos elementos filhos*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: white;

}

.lista-de-botoes {
  /*tamanho*/
  width: 20%;
  height: 30px;
  padding: 1px;
  /*organização dos elementos filhos*/
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.botao-pag-inicial {
  width: 100px;
  height: 40px;
  /*cor*/
  background-color: transparent;
  color: white;
  /*borda*/
  border: 2px solid white;
  margin-top: 10px;
}

.botao-pag-inicial:hover{
  height: 42px;
  width: 150px;
  transition: 2ms;
}

.Mensagem-Inicial {
  /*Tamanho*/
  width: 100%;
  height: 100vh;
  /*Organização de elementos filhos*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.caixa-mensagem-saudacao {
  /*Tamanho*/
  width: 50%;
  /*Espaçamento*/
  margin-left: 40px;
  padding: 20px;
  /*Organização de elementos filhos*/
  display: flex;
  flex-direction: column;
  gap: 5px;
  /*Borda*/
  border: 2px solid #000;
  /*Cor*/
  background-color: #fff;
  color: #000;
  opacity: 0.8;
}

.saudacao-titulo {
  /*Fonte*/
  font-size: 30px;
  /*cor*/
  color: #6B0F0F;

  text-align: center;
}

.sessao-sobre-piano {
  /*Tamanho*/
  width: 100%;
  height: 90vh;
  /*Organização de elementos filhos*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /*Borda*/
  border: 2px solid black;
  /*Texto*/
  text-align: center;
}



.Texto-Sobre-Piano {
  /*Tamanho*/
  width: 100%;
 

 
  /*organização dos elementos filhos*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 50px;
}

.titulo-sobre-piano {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

 
}


.sobre {
  font-size: 60px;
  display: flex;
}

.o {
  font-size: 60px;
}

.piano {
  font-size: 60px;
}

.paragrafo-sobre-piano {
width: 40%;

  display: flex;
  flex-direction: column;
  gap: 10px;

}

.primeiro-paragrafo-sobre {
  /*tamanho*/
  width: 100%;
  padding: 30px;
  /*organização*/
  display: flex;
  /*cor*/
  background-color: #000;
  color: #fff;
  /*borda*/
  border-radius: 20px;
  /*fonte*/
  font-size: 20px;

}

.segundo-paragrafo-sobre {
  /*tamanho*/
  width: 100%;
  padding: 30px;
  /*organização*/
  display: flex;
  /*cor*/
  background-color: #000;
  color: #fff;
  /*borda*/
  border-radius: 20px;
  /*fonte*/
  font-size: 20px;
}

.terceiro-paragrafo-sobre {
  /*tamanho*/
  width: 100%;
  padding: 30px;
  /*organização*/
  display: flex;
  /*cor*/
  background-color: #000;
  color: #fff;
  /*borda*/
  border-radius: 20px;
  /*fonte*/
  font-size: 20px;
}

.sessao-curiosidade-piano {
  /*Tamanho*/
  width: 100%;
  height: 90vh;
}

.cabecalho-curiosidade {
  /*Tamanho*/
  width: 100%;
  height: 3px;
  /*Espaçamento*/
  padding-top: 10px;
  padding-bottom: 20px;
  /*Fonte*/
  font-size: 30px;
  /*Texto*/
  text-align: center;
}

.caixa-conteudo-curiosidade {
  /*tamanho*/
  height: 80vh;
  /*organizaçãos dos elementos filhos*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /*texto*/
  text-align: center;
}

.carrosel-curiosidade {
  /*posição*/
  position: relative;
  /*tamanho*/
  width: 250px;
  height: 300px;
}

.carrosel-curiosidade:hover .flip {
  transform: rotateY(180deg);
}

.flip {
  /*posição*/
  position: absolute;
  /*tamanho*/
  width: 100%;
  height: 100%;
  cursor: pointer;

  transform-style: preserve-3d;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 24px;
  color: #fff;
  background-color: #6B0F0F;
}

.frente,
.tras {
  /*posição*/
  position: absolute;
  /*tamanho*/
  width: 100%;
  height: 100%;
  /*borda*/
  border-radius: 24px;
  /*detalhes*/
  box-shadow: 4px 4px 12px #aaa;
  backface-visibility: hidden;
}

.frente{
  display: flex;
  align-items: center;
  justify-content: center;
}

.frente img {
  max-width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 24px;
}

.frente-1 img {
  width: 270px;
  height: 300px;
  object-fit: cover;
  border-radius: 24px;
}

.tras {
  /*tamanho*/
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  background-color: #6B0F0F;
  transform: rotateY(180deg);
}

.titulo-qual-curiosidade {
  font-size: 30px;
}




.sessaoOnu {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.sessaoOnu {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.containerOnu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-half {
  width: 100%;
  height: 50%;
  background-color: white;
}

.h1Onu{
  margin-left: 67%;
  font-size: 39px;
  margin-top: 85px;
  color: #480C14;
}
.h1-2Onu{
  margin-left: 55%;
  font-size: 39px;
  color: #480C14;
  /* margin-right: 60px; */
}

.bottom-half {
  width: 100%;
  height: 60%;
  background-color: black;
}

.bloco{
  height: 100px;
  width: 700px;
  border-radius: 50px;
  background-color: white;
  margin-left: 60%;
  padding: 1rem;
  padding-top: -30px;
}
p{
  margin-top: 40px;
  margin-top: 40px;
}
.pOnu {
  margin-left: 20px;
  font-size: 25px;
  margin-top: 40px;
}
.image-text-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 1;
}

.central-image {
  max-width:650px; /* Ajuste conforme necessário */
  margin-right: 20px;
  height: 400px;
  margin-left: 40px;
  border-radius: 24px;
}

.text {
  color: black; /* Ajuste conforme necessário */
  font-size: 18px; /* Ajuste conforme necessário */
}
