* {
    margin: 0px;
    padding: 0px;
}

.container{
    /*tamanho*/
    width: 100%;
    height: 90vh;
    /*organização de elementos filhos*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input_cadastro{
    /*tamanho*/
    width: 50%;
    height: 100%;
    /*organização dos elementos filhos*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-inputs{
    width: 50%;
}

.grupo-input b{
    /*organização dos elementos filhos*/
    display: block;
    color: black;
    margin-bottom: 5px;
    text-align: left;
}

.grupo-input input{
    /*tamanho*/
    width: 100%;
    height: 40%;
    padding: 5px 10px;
    /*borda*/
    border: none;
    border-bottom: 2px solid black;
    /*detalhes*/
    box-sizing: border-box;

}

.sessao{
    display: flex;
    flex-direction: column;
}

.imagemCadastro{
 /*tamanho*/
 width: 70%;
 height: 100%;
 padding: 5px;
 /*organização dos elementos filhos*/
 display: flex;
 justify-content: center;
 align-items: center;
 
 /*fundo*/
 /* background-image: url(../img/ImagemPianoGoogle.jpg); */
 background-repeat: no-repeat;
 
}

.ImagemPiano{
    width: 800px;
    height: 100%;
    /*borda*/
     border-radius: 30px; 
}

.BotaoCadastrar{
    width: 50%;
    height: 5%;
    /*Borda*/
    border-radius: 8px;
    /*organização*/
    margin-top: 15px;
    /*cor*/
    background-color: black;
    color: white;
}

.PerguntaCadastro {
    margin-top: 15px;
}

.BotaoPossuiCadastro{
    width: 50%;
    height: 5%;
    /*borda*/
    border-radius: 8px;
    /*cor*/
    background-color: black;
    color: white;
}