*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

nav.menu-lateral{
    /*tamanho*/
    width: 70px;
    height: 100%;
    padding: 50px 0 40px 1%;
    /*Fundo*/
    background-color: black;
    /*detalhes*/
    box-shadow: 3px 0px 0px red ;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral:hover{
    width: 200px;
}


.expandir{
    width: 100%;
    padding-left: 10px;
}
.expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}


ul li.item-menu a{
    /*tamanho*/
    padding: 5px 2%;
    width: 90%;
     /*cor*/
    color: black;
    background-color: white;
    /*organização dos elentos filhos*/
    display: flex;
    margin-top: 10px;
    /*borda*/
    border: 2px solid white;
    border-radius: 20px;
    /*detalhes*/
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 50px;
}

ul li.item-menu a .txt-link{
    margin-left: 30px;
}

ul li.item-menu a .icone > i{
    font-size: 30px;
    margin-left: 5px;
}